body {
  background-color: rgb(26, 25, 25);
  color:white

}

nav {
  height: 10vh;
}

nav ul  {
  display: flex;
  justify-content: space-around;
  height: 10vh;
  position: relative;
  top: -17px;
}
nav ul li {
  display:flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  cursor: pointer;
  width: 15%;
}

nav ul li:hover {
  background-color: rgba(143, 12, 12, 0.322);
}