*{
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}
.theOne{
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
body{
  background-color: rgb(22, 22, 22);
  color: green;
}

.bigBoy{
  border: 3px solid green;
  height: 200px;
  width: 200px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  
}
.bigBoy:hover{
  background-color: rgba(23, 75, 23, 0.219);
}  
.titleColor{
  text-align: center;
}



/* COUNT */
.count{
    background-color: transparent;
    color: green;
    border: 1px solid green;
    cursor: pointer;
    margin: 1px;
    width: 25px;
  }
.btnContainer{
  display: flex;
  
}  


/* TODO */
.todoContainer{
  display: flex;
  position:absolute;
  top: 25px;
}
.todoItemContainer{
  height:140px;
  width: 200px;
  position: relative;
  top:25px;
}
.todoInput{
  background-color: transparent;
  border: 1px solid green;
  width: 69px;
  color: green;
  font-size: 15px;
}
.todoInput:focus{
  outline: none;
}
.todoItem{
  padding: 2px 5px;
}
.btn{
  background-color: transparent;
  color: green;
  border: 1px solid green;
  cursor: pointer;
}
.btn:hover{
  background-color: rgba(12, 136, 12, 0.219);
}

/* PERSON */

.personContainer{
  position:absolute;
  top: 30px;
  text-align: center;
  
}
.space{
  margin: 10px 0;
}

/* HAMBURGER */
.hamburgerBigContainer{
  display: block;

}
.burger{
  margin: 5px 0 0 5px;
  width: fit-content;
  padding: 1px 7px 10px;
  position: absolute;
  cursor: pointer;
  z-index: 2;
}
.line{
  width: 25px;
  height: 1px;
  padding: 3px 0;
  border-bottom: 1px solid green;
}
.burgerMenu{
  position: absolute;
  background-color: rgba(66, 102, 66, 0.158);
  height: 196px;
  width: 197px;
  top: -200px;    
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.69s ease all;
}
.activeBurgerMenu{
  position: absolute;
  top: 1px !important;    
}
.burgerMenu ul {
  position: relative;
  left: -20px;
  width: inherit;
  text-align: center;
}
.burgerMenu li{
  list-style: none;
  height: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.burgerMenu li:hover{
  background-color: rgba(0, 128, 0, 0.24);
}

/* DARK */


.hell{
  position:absolute;
  z-index: -1;
}

.hell img{
  height: 269px;
}

.hellNo{
  display: none;
}
.hellYes{
  display: block;
}
.red{
  text-align: center;
  color: red;
  padding-bottom: 5px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  top: 0;
  width: 50px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.sliderToggleContainer{
  position: relative;
  top: -60px;
}
/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(25, 201, 63, 0.281);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: rgba(240, 247, 241, 0.699);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: rgb(148, 35, 31);
}


input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}



/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}