*{
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}
.theOne{
  width: 100vw;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
}
body{
  background-color: rgb(22, 22, 22);
  color: green;
  text-align: center;
  justify-content: center;
  display: flex;

}

.bigBoy{
  border: 3px solid green;
  height: 200px;
  width: 200px;
  margin: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}  

/* COUNT */
.count{
    background-color: transparent;
    color: green;
    border: 1px solid green;
    cursor: pointer;
    margin: 1px;
    width: 25px;
  }
.btnContainer{
  display: flex;
  
}  


/* TODO */
.todoContainer{
  display: flex;
  position: relative;
  left: -25px;
}

.todoInput{
  background-color: transparent;
  border: 1px solid green;
  width: 69px;
  color: green;
  font-size: 15px;
}
.todoInput:focus{
  outline: none;
}
.btn{
  background-color: transparent;
  color: green;
  border: 1px solid green;
  cursor: pointer;
}
.btn:hover{
  background-color: rgba(12, 136, 12, 0.219);
}
.todoItem{
  display: flex;
  position: relative;
  left: -20px;
}

/* PERSON */

.personContainer{
  position:relative;
  top: -50px;
}

/* HAMBURGER */
.hamburgerBigContainer{
  display: block;
}

.line{
  width: 10px;
  height: 2px;
  border-bottom: 1px solid red;
}