body{
  background-color:#9e9c9c;
}

nav{
  display: flex;
  justify-content: space-between;
  height: 10vh;
  width: 100%;
  align-items: center;
}
.logoContainer{
  padding: 0 5px;
  position: relative;
  left: 2%;
}
.logoImage{
  height: 10vh;
}
N
.mainLink{
  display: flex;
  justify-content: space-evenly;
}
.mainLinkItem{
  list-style: none;
  font-size: 1.1em;
  padding: 0 15px;
}
.hamburgerContainer{
  height: 10vh;
  width: 50px; 
  display: none;
}
.line{
  height: 1px;
  width: 50px;
  border-bottom: 3px solid red;
  padding-bottom: 20px;
}
.overlayContainer{
  display: none;
}
@media only screen and (max-width:600px){
  nav{
    display: flex;
    justify-content: space-between;
  }
  .linkContainer{
    display: none;
  }
  .hamburgerContainer{
    display:block;
    position: absolute;
    right: 5%;
  }
  
}